.home-page {
  text-align: center;
  padding: 40px;
  background: url("./backgroundA.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; /* pour couvrir toute la page */
}

.home-page h1 {
  font-size: 2.5rem;
  color: #ffffff; /* Bleu moyen */
}

.subtitle {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #F7EDEB; /* Blanc cassé */
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.category-card {
  background: #F7EDEB; /* Blanc cassé */
  padding: 20px 40px;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #1C2D73; /* Bleu foncé */
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.category-card:hover {
  background: #2563eb; /* Bleu vif au hover */
  color: white;
  transform: translateY(-5px);
}
