/* src/toDo/components/StatsDashboard.css */
.stats-container {
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  color: #1C2D73;
  text-align: center;
}
.stats-page {
  text-align: center;
  padding: 40px;
  background: url("./backgroundA.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; /* pour couvrir toute la page */
}
.stats-title {
  font-size: 28px;
  margin-bottom: 30px;
  color: #ffffff;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.chart-box {
  background: #F7EDEB;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.chart-box:hover {
  transform: translateY(-5px);
}

.chart-box h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #2E4FCF;
}
